.frijole-regular, * {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

a:link {
    color: rgb(246, 130, 136)
}

a:visited {
    color: orange
}

body {
    background-color: #8A6043;
}

h1, h2, p {
   color: #F7E20A;
}

.description {
    max-width: 600px;
}

.left {
    max-width: 600px;
    float: left;
}

.right {
    max-width: 600px;
    float: left;
    margin-left: 30px;
    margin-top: -26px;
}

.checked {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #F7E20A;
}

.acaiChecked {
  text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(206, 179, 135);
}

button {
  color: orange;
  background-color: #8A6043;
  border-color: #F7E20A;
}

.hide-button {
  display: none;
}

@media screen and (min-width: 280px) and (max-width: 900px) {
  body {
    background-color: #F7E20A
  }
  h1, h2, p {
   color: #8A6043
  }
}